<ul>
<% @groups.each do |category|%>
<%= link_to category do %>
<div>
<%= image_tag category.icon, alt: "#{category.name} icon"%>
<h2><%= category.name %></h2>
<div><%=category.created_at.strftime('%Y-%b-%d')%></div>
<div><%=category.products.sum {|product| product[:amount]}%></div> 
</div>
<% end %>
<%end%>
</ul>
<%= button_to "Add Category", new_group_path, method: :get %>
