<%= form_with model: @group do |form|%>
<h1 class="text-center mb-3">Create Category</h1>

<div class="mb-3">
<%=form.label :icon, class: "form-label"%>
<%=form.text_field :icon, class: "form-control"%>
</div>

<div class="mb-3">
<%=form.label :name, class: "form-label"%>
<%=form.text_field :name, class: "form-control"%>
</div>


<%=form.submit "Create", class: "btn btn-primary"%>
<%end%>
