<% content_for :back_path, group_path(@group) %>
<% content_for :page_name, "CREATE TRANSITION" %>
<% content_for :nav_button do%>
<%= button_to "Logout", destroy_user_session_path, method: :delete,class: "nav-link text-white" %>
<%end%>
<%= form_with model: ([@group, @product]) do |form|%>

<div class="mb-3">
<%=form.label :name, class: "form-label"%>
<%=form.text_field :name, class: "form-control"%>
</div>

<div class="mb-3">
<%=form.label :amount, class: "form-label"%>
<%=form.number_field :amount, class: "form-control"%>
</div>

<%= form.hidden_field :group_ids, value:[@group] %>


<%=form.submit "Create", class: "btn btn-style btn-lg"%>
<%end%>
